/*
flexbox
*/
#container{
    display: flex;
    justify-content: center;
}
#container>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
#container>div>img{
    width: 100%;
    height: 100%;
    flex: 1;
}
/*
other styles
*/
@font-face {
    font-family: montserrat;
    src: url(./fonts/MontserratSemibold-8M8PB.otf);
    font-weight: 200;
}
@font-face {
    font-family: montserrat;
    src: url(./fonts/MontserratLight-6YemM.otf);
    font-weight: 100;
}
body{
    background-image: url("./images/magnolia.jpg");
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: montserrat, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.white{
    box-sizing: border-box;
    padding-top: 5vh;
    max-width: 1000px;    
    margin: auto;
    align-self: center;
    padding: 5vh;
    background-color: rgba(245, 245, 245, 90%);
    border: solid black 2.5px;
}
h1{
    flex: 1;
    margin: auto;
    align-self: flex-end;
    font-size: 5vmin;
}
.white>*{
    margin-top: 4vh;
    font-size: 2.5vh;
    text-align: center;
    color: black;
    font-weight: bold;
}
#round,
#round-number{   
    margin-bottom: 0.5vw;
    margin-top: 0.5vw; 
    text-align: left;
    text-shadow: 0 0 2px whitesmoke;
}
#header{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    color: black;
}
button{
    height: 5vh;
    border: none;
    font-size: 2vh;
    font-family: inherit;
    font-weight: 100;
    background-color: black;
    padding: 1vh;
    color: whitesmoke;
}
#container>div:hover,
#container>div>button:hover{
    cursor: pointer;
}
#container>div>button:hover{
    font-size: 2.5vh;
}
.footer{
    box-sizing: border-box;
    max-width: 1000px;  
    align-self: center;
    text-align: center;
    padding: 15px 45px;
    margin: 0 auto;
    margin-bottom: 5vh;
    background-color: whitesmoke;
    justify-self: flex-end;
}
.result,
.game-result{
    font-weight: 100;
}